{% extends "index.html" %}

{% block contenido %}
<div class="container w-50 mt-4">
    <h3 class="text-center bg-dark text-white p-2 rounded">Registrar Instructor</h3>
    {% if mensaje %}
        <div class="alert alert-warning">{{ mensaje }}</div>
    {% endif %}
    <form id="form-instructor" method="POST" action="/agregarInstructor" >
        <label>Nombre completo:</label>
        <input type="text" name="nombre_completo" required><br><br>        
        <label>Correo:</label>
        <input type="email" name="correo" required><br><br>
        <label>Contrasena:</label>
        <input type="password" name="contrasena" required><br><br>        
        <label>Regional:</label>
        <select name="regional" required>
            <option value="">-- Selecciona una opción --</option>
            {% for regional in regionales %}
                <option value="{{ regional.id }}">{{ regional.nombre }}</option>
            {% endfor %}
        </select><br><br>
        
        
        <button type="submit">Guardar Instructor</button>
    </form>
</div>
{% endblock %}
