{% extends "index.html" %}

{% block contenido %}
<script src="../static/js/agregarguia.js"></script>
<div class="w-25" style="margin: 0 auto">
  <form id="agregarguia"> 
    <h3 class="text-center bg-dark text-white p-2 rounded">Registrar Guía</h3>
    
    <div class="mb-2">
      <label for="nombreguia">Nombre de la Guía:</label>
      <input type="text" name="nombreguia" id="nombreguia" class="form-control" required>
    </div>
    
    <div class="mb-2">
      <label for="descripcions">Descripción:</label>
      <input type="text" name="descripcions" id="descripcions" class="form-control" required>
    </div>
    
    <div class="mb-2">
      <label for="programaformacion">Programa de Formación:</label>
      <input type="text" name="programaformacion" id="programaformacion" class="form-control" required>
    </div>
    
    <div class="mb-2">
      <label for="documento">Documento:</label>
      <input type="text" name="documento" id="documento" class="form-control" required>
    </div>
    
    <div class="mb-2">
      <label for="fecha">Fecha:</label>
      <input type="date" name="fecha" id="fecha" class="form-control" required>
    </div>    
    
    <div class="mb-2">  
      <label for="intructordeproceso">Instructor a Cargo:</label>
      <select name="intructordeproceso" id="intructordeproceso" class="form-control" required>
        <option value="">--Selecciona--</option>
        {% for instructor in instructores %}
        <option value="{{ instructor.id }}">{{ instructor.nombrecompleto }}</option>
        {% endfor %}
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary w-100 mt-2">Guardar Guía</button>
  </form>
</div>
{% endblock %}
