<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/instructor/">Instructor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/guias/">Guias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/instructor/agregar">Registrar Instructor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/salir/">Salir</a>
    </li>
</ul>

