{% extends "index.html" %}

{% block menu %}
    {% include "encabezado.html" %}
{% endblock %}

{% block contenido %}
    <script src="../static/js/app.js"></script>
    <div class="w-75" style="margin: 0 auto">
        <h3 class="text-center fw-bold">LISTADO DE GUIAS</h3>
        <div>
            <a href="/agregarGuia/"><button class="btn btn-secondary">Agregar</button></a>
        </div>
        <DIV>
            <table id="tbGuia" class="table table-bordered mt-2">
                <thead class="table-secondary text-center">
                    <tr>
                        <th>Nombre de la Guia</th>
                        <th>Descripcion</th>
                        <th>Programa de Formacion</th>
                        <th>Nombre del Instructor</th>
                        <th>Regional del Instructor</th>
                        <th>Fecha de publicacion</th>
                        <th>Pdf</th>

                    </tr>
                </thead>

                <tbody id="datosGuia">
                    {% for g in guia %}
                    <tr>
                        <td>{{ g.nombre }}</td>
                        <td>{{ g.descripcion }}</td>
                        <td>{{ g.programa }}</td>
                        <td>{{ g.nombreInstructor }}</td>
                        <td>{{ g.regional }}</td>
                        <td>{{ g.fecha }}</td>
                        <td>{{ g.iconopdf }}</td>
                        <td class="text-center" style="font-size:3vh">
                            <a href="/vistaEditarGuia/{{g.id}}/"><i class="fa fa-edit text-warning" title="Editar"></i></a>
                            <i class="fa fa-trash text-danger" title="Eliminar" onclick="deleteGuia('{{g.id}}')" ></i>                        
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </DIV>
    </div>
{% endblock %}

{% block piePagina %}
    {% include "piePagina.html" %}
{% endblock %}